#result {
  display: none;
}

body {
  background-color: #D0DFFA;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

img {
  height:200px;
  height:20%;
  width:20%;
}

html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
* {
  font: SF Hollywood Hills;
}
h1 {
  font: SF Hollywood Hills, Georgia;
  font-size: 50px;
  text-shadow: 1px 1px 2px gray;
}

#show-contact {
  display: none;
}

#show-second-address {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}


p {
    color: green;
  }
